# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LanguageFeatures.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\marcin.pietrucha\source\repos\LanguageFeatures\LanguageFeatures\.idea\.idea.LanguageFeatures\.idea/dataSources/
/dataSources.local.xml
